nav.navbar.navbar-default
  div.container-fluid
    a.navbar-brand(href='#') Msgr
    ul.nav.navbar-nav.navbar-right
      li: a(href='/') Home
      li: a(href='/about') About
      li: a(href='/login') Sign In